<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fund Receipt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .receipt {
            width: 100%;
            max-width: 600px;
            margin: auto;
            padding: 8px 10px;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 12px;
            text-align: center;
        }
        .header-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 5px;
        }
        .header-inner img {
            width: 90px;
            height: 90px;
            object-fit: contain;
        }

        .header-inner h1 {
            margin: 0;
            font-size: 2em;
            color: saddlebrown;
        }
        .header address, .header h3 {
            margin: 5px 0;
            font-size: 0.9em;
        }
        .details {
            margin-bottom: 20px;
            font-size: 0.85em;
        }
        .details .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .details .row p {
            margin: 0;
            /*font-size: 0.85em;*/
        }
        .total {
            font-weight: bold;
            font-size: 1.2em;
        }
        .footer-center {
            text-align: center;
            margin-top: 20px;
        }
        .footer-text {
            font-size: 10px;
        }
    </style>
</head>
<body>
<div class="receipt">
    <div class="header">
        <div class="header-inner">
            <img src="<%= imagePath %>" alt="Logo">
            <h1>Shivam Yuvak Mandal</h1>
        </div>
        <address>Shivam Duplex, Behind L&T Knowledge City, Waghodia Road, Ankhol, Vadodara</address>
        <h3>Festival Collection Receipt <%= fund.festivalYear %></h3>
    </div>
    <div class="details">
        <div class="row">
            <p><strong><%= fund.type === 'house' ? 'House Number' : 'Type' %>:</strong> <%= fund.type === 'house' ? fund.houseId.houseNumber : fund.type.charAt(0).toUpperCase() + fund.type.slice(1) %></p>
            <p><strong>Date:</strong> <%= fund.formattedDate %></p>
        </div>
        <p><strong>Name:</strong> <%= fund.type === 'house' ? fund.name != '' ? fund.name : fund.houseId.ownerName : fund.name %></p>
        <p><strong>Amount:</strong> ₹ <%= fund.amount %>/-</p>
        <p><strong>Amount in words:</strong> Rupees <%= fund.amountInWords %> Only</p>
        <p><strong>Payment Type:</strong> <%= fund.paymentMethod %></p>
    </div>
    <div class="footer-center">
        <span style="font-size: 12px;">Thank you for contribution</span>
    </div>
</div>
</body>
</html>
